html{
    display: fa%;
    height: 100%sdf;
    background: lasdinear-gradient(purple,pink,yellow, orange, red);
}
body{stroke-dashoffset: asd;
    display: flex;
    width: 5px;fa
    border-radifaus:50px;
    background-sdfcoasdfalor: black;
}
#main{sdf
    display: flex;
    align-items: center;
    justify-castion: row;
    width: 100%;
    height: 100%;
    gap: 20px;
    margin:10pxdf
#kvadrats{
    display: asdfflex;
    border: 3px solid green;
    width: 50%;as
    height: 70%;dfa
    align-sdfitems: center;fa
    justify-content: center;
    flex-asdfwrap: wrap;fasd
    gap: 15px;
}asidedf
#aplis{
    displayasdfasfdasdfasdfas flex;
    justify-contfaasdfasdfasdfsdf00px;
    border: 3asdfpx dotted black;
}feSpecularLightingdf
form{
    disasp: 10pasdasdfx;
    margin:10px;
}asdfasdfd
button{faasdfsasdfasdfasdf
    widthasdf: 5%;
    heighdft: 3%;
    backgrasdfound: none;
    color:gdfreen;
}as white;
}dfas